venv/Lib/site-packages
venv/Scripts
.venv/
*/__pycache__
*.pyc
.DS_Store
.ipynb_checkpoints
.vscode
.idea
logs/
venv/share/*\
*.log
data/*
Laboratory_Project_Report_SH(1).zip
report_template/*
*.zip
assets/
